body{
	margin: 0;
	padding: 0;
	font-family: 'poppins',sans-serif;
/*	background:#efefef;*/
 &::-webkit-scrollbar {
      display: none;
    }

}


/*Navigation bar css*/
.navBar{

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	height: 50px;
	border-bottom:  1px solid lightgrey;
	position: sticky;
	top: 0;
	background-color: white;
	 z-index: 999;
}

.navBar .left{
	
	display: flex;
	align-items: center;
		gap: 20px;
}

.navBar .left a{
	text-decoration: none;

}

.navBar .left span{
	font-weight: bold;
	font-size: 20px;
	color: lightcoral;

}

.navBar .left .search{
	display: flex;
	align-items: center;
	gap: 10px;
	border:  1px solid lightgrey;
	border-radius: 5px;
	padding: 5px;

}



.navBar .left .search input{
	border: none;
	width: 500px;

}



.navBar .right{
	display: flex;
	align-items: center;
	gap: 20px;

}


.navBar .right .user{
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight:500;

}


.navBar .right .user img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;

}

.navBar .right .user span{

}

/*Nabar css ends*/



/*main*/

.main{
	display: flex;
}



/*left main*/

.main .left{
	display: flex;
	flex: 2;
	 position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
 &::-webkit-scrollbar {
      display: none;
    }

}
   


.main .left .container{
	padding: 20px;

}
.main .left .container hr{
	margin: 20px 0px;
	border: none;
	height: 0.5px;
	background-color: lightslategrey;
}


.main .left .container .menu{
	display: flex;
	flex-direction: column;
	gap:20px;
}

.main .left .container .menu .user{
	display: flex;
	align-items: center;
	gap:10px;

}

 .main .left .container .menu .user img{
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	object-fit: cover;

}

 .main .left .container .menu .user span{
 	font-size: 14px;

}


.main .left .container .menu .item{
	display: flex;
	align-items: center;
	gap:10px;

}

.main .left .container .menu .item img{
	width: 30px;

 	object-fit: cover;


}

.main .left .container .menu span{
 	font-size: 14px;
}

/*end left main*/










/*center main*/

.main .center{
	
	flex: 6;
	margin: 30px 0px;

}

/*end center main*/

.main .center .container{

padding: 20px;

        align-items: center;
        justify-content: space-between;
        border: 1px solid lightgrey;
        
         border-radius: 10px;
         -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
}

.main .center .container .post{
	display: flex;
	padding: 4px;
	gap: 10px;
	
	justify-content: space-around;
	
}

.main .center .container .post img{
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: 50%;
 	object-fit: cover;
	
}


.main .center .container .post .tek{
	display: flex;
	border-radius: 20px;
	height: 50px;
	width: 100%;
	background-color:#f4f0ec;
	
}

.main .center .container .post .tek span{
	display: flex;
	font-size: 14px;
	color:grey;
	padding-left: 10px;
	align-items: center;

}














/*right main*/

.main .right{
	flex: 3;
	 position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
 &::-webkit-scrollbar {
      display: none;
    }
}

.main .right .container{
	padding: 20px;

}

.main .right .container .item{
	 -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-block: 20px;

}


.main .right .container .item span{
	color: gray;
	font-size: 14px;

}

.main .right .container .item .user{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0px;


}

.main .right .container .item .user .userInfo{
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
}

.main .right .container .item .user  .buttons{
	display: flex;
	align-items: center;
	gap: 10px;
}

.main .right .container .item .user  .buttons button{
	border: none;
	padding: 5px;
	color: white;
	cursor: pointer;

	&:first-child{

	background-color: #5271ff;
	}

	&:last-child{

	background-color: #f0544f;
	}

}



.main .right .container .item .user .userInfo img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;

}

.main .right .container .item .user .userInfo span{
font-weight: 500;
color: black;
font-size: 14px;
}

.main .right .container .item .user .userInfo p{
font-weight: 500;
color: grey;
font-size: 14px;
}

.main .right .container .item .user .userInfo .online{

width: 12px;
height: 12px;
border-radius: 50%;
background-color: limegreen;
position: absolute;
top: 0;
}



/*end right main*/